.specific-food-form{
    font-size: large;
  
}

.specific-food-form div{
    margin-top: 20px;
}

.specific-food-form div input{
    margin-left: 10px;
}

.specific-foodform-wrapper{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-path-wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}

.user-path-item{
    margin: 10px;
}

.specific-food-box{
    border: 2px solid black;
    width: 250px;
    height: 200px;
    
}

.specific-food-box input{
    height: 20px;
    width: 20px;
}

.autocomplete-div{
    margin: 20px;
}

.specific-food-box-wrapper{
    text-align: center;
}

.specific-food-box form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.specific-food-box input{
    width: 90%;
    margin: 10px auto auto auto;
}