.signin-page-wrapper{
    text-align: center;
}


.signin-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.group{
    margin: 10%;
}

form{
    margin-bottom: 10%;
}

a{
    color: orangered;
} 