@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Lato:wght@100;300;400&display=swap');


.err-message{
    font-family: 'Josephin Sans', sans-serif;
    width: 90%;
    margin: auto;
    padding: 4%;
    margin-top: 20px;
    color: #2B0506;
    text-align: justify;
    background-color: rgb(156, 18, 5, .4) ;
}
.logo-wrapper-login{
    width: 100%;
    padding: 22px;
    display: flex;
    justify-content: center;
}
.logo-login{
   transform: rotate(-3deg);
    width: 54px;
    height: 48px;
}

.signin-page-wrapper{
    text-align: center;
    background-color:rgb(32, 73, 85, .15);
    margin: 0;
    height: 100vh;
    width: 100%;
}


.signin-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8E9EA;
    width: 92%;
    margin: auto;



}
.instructional-header{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: 0;
}

.group{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.label{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 25px 0 25px 0;

}

.signin-inputs{
    height: 32px;
    width: 220px;
    border: none;
}

form{
  
}
.signin-submit{
    background-color: #005F73;
    color: white;
    font-family: 'Lato', sans-serif;
    width: 140px;
    height: 35px;
    margin: 30px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 5px 0px black;
}

.instructional-p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 45px 0 0 0;
    

}

.gmail-section{
 
}

.gmail-btn{
    border: none;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    width: 140px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0px 5px 0px #005F73;
}
.create-account-p{
    margin:0;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   padding-bottom: 20%;
} 

.create-account-p span {
    color: #9B2226;
   
}


.wavetop-wrapper{
    display: none;
}
.wavebottom-wrapper{
    display: none;
}


@media(min-width: 400px){ 
    /* full screen */
    .wavebottom-wrapper{
        display: block;
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 27%;
    }
    
    .wavetop-wrapper{
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        width: 27%;
    }
  
    .signin-wrapper{
        position: absolute;
        left: 0;
        right:0;
        margin:auto;
        bottom: 0;
        width: 35%;
    }

    .logo-wrapper-login{
        justify-content: left;
    }
    .instructional-header{
        font-size: 40px;
        position: absolute;
        top: 50px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 250px;
    }

}

@media(min-width: 850px){
    .wavebottom{
        height: 1vw;
    }
}